div {
    border: 1px dotted red;
}
.post {
    border: solid 3px black;
    padding: 10px;
    width: 420px;
    height: auto;
}

i {
    font-size: 20px;
}

.cabecera {
    display: flex;
}

#cab1 {
    width: 50px;
}

#cab2 {
    width: 300px;
}

#cab3 {
    width: 50px;
}