body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

div {
    background-color: white;
}

.cabecera {
    display: flex;
    padding: 10px;
}

.cuerpo {
    padding: 10px;
}

.post {
    border: solid 3px black;
    width: 400px;
    margin: auto;
}

#titulo {
    width: 350px;
    padding: 10px;
}

i {
    font-size: 50px;
    position: relative;
    top: 25%;
}

#derecha {            
    float: right;
}